body{
	/*font-family: Futura;*/
	font-family: Arial;
}
.navbar {
	/*background-color: #942b42;*/
	/*background-color: #523a76;*/
	background-color: #2e2e66;
	/*height: 100px;*/
	border: none;
}

.navbar-default .navbar-brand {
	color: white;
	font-size: 30px;
	/*padding-top: 40px;*/
}
.navbar-default .navbar-header .navbar-brand a:hover {
	color: #e84467;
}
.navbar-default .navbar-nav li a {
	color: white;
	font-size: 20px;
	/*padding-top: 40px;*/
}
.navbar-default .navbar-nav li a:hover {
	color: #e84467;
}
.navbar-default .navbar-nav li a:focus {
	color: white;
}
#top_jumbo {
	background: #5b99ff;
	color: white;
	text-align: center;
	height: 750px;
	padding-top: 200px;
}
#top_jumbo h1 {
	font-size: 100px;
	font-weight: bold;
}
.navbar-brand{
	color: #e84467
}
#flower {
	width:20%;
}
h3 {
	font-size: 30px;
}
h2 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 50px;
}
hr.star-primary {
    /*margin: 25px auto 30px;*/
    /*padding: 0;*/
    max-width: 250px;
    /*border: 0;*/
    border-top: solid 5px;
    text-align: center;
}
#portfolio {
	height: 1200px;
	padding-top: 125px;
	border: 50px solid white;
	/*font-size: 3em;*/
	/*font-weight: bold;*/
}

.project {
	padding-top: 40px;
	height: 400px;
	text-align: center;
	border: 20px solid white;
	color: white;
}
#project1 {
	background-color: #ff7a4b;
}
#project2 {
	background-color: #6744e8;
}
#project3 {
	background-color: #e157ff;
}
#project4 {
	background-color: #5b99ff;
}
#project5 {
	background-color: #e84467;
}
#project6 {
	background-color: #17b400;
}
#cake_icon {
	width: 256px;
	height: 256px;
}
#about {
	background: #5b99ff;
	color: white;
	text-align: center;
	height: 500px;
	/*padding-top: 100px;*/
}
#about h4 {
	font-size: 20px;
}
#contact{
	height: 700px;
}
.resume_icon, .linkedin_icon{
	height: 75px;
}
button {
	color: white;
	background-color: #5b99ff
}
.project_page {
	padding-top: 30px;
	min-height: 400px;
	text-align: center;
}
.project_page a {
	text-align: right;
	text-decoration: none;
}
h1 {
	font-weight: bold;
}
.picture_carousel {
	width: 60%;
	min-height: 500px;
}
.project_description {
	width: 50%;
}
.project_description ul li {
	/*text-decoration: none;*/
	display: inline-block;
	margin-left: 10px;
}
