<div ng-controller='dashboardController' id='page_top'>
	<nav class='navbar navbar-default navbar-fixed-top'>
		<div class='container'>
			<div class='navbar-header page-scroll'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#top-navbar-collapse'>
					<span class='sr-only'>Toggle navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand' href='#top_jumbo' du-smooth-scroll duration='2000'>Heather Walker</a>
			</div>
			<div class='collapse navbar-collapse' id='top-navbar-collapse'>
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#portfolio' du-smooth-scroll duration='2000'>Portfolio</a></li>
					<li class='page-scroll'><a href='#about' du-smooth-scroll duration='2000'>About</a></li>
					<li class='page-scroll'><a href='#contact' du-smooth-scroll duration='2000'>Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class='jumbotron' id='top_jumbo'>
		<img src='/static/profile.png'>
		<h1>Heather Walker</h1>
		<hr class="star-primary">
		<h3>Full Stack Web Developer</h3>
		<h4>Python - Ruby on Rails - MEAN</h4>
	</div>
	<div id='portfolio'>
		<h2 class='col-md-12 text-center'>PORTFOLIO</h2>
		<hr class="star-primary">
		<div class='row'>
			<div class='project col-md-4' id='project1'>
				<a href='#/project1'><img src='/static/hand-shopping-bag.png'></a>
			</div>
			<div class='project col-md-4' id='project2'>
				<a href='#/project2'><img src='/static/place_setting.png'></a>
			</div>
			<div class='project col-md-4' id='project3'>
				<a href='#/project3'><img src='/static/paper-plane.png'></a>
			</div>
		</div>
		<div class='row'>
			<div class='project col-md-4' id='project4'>
				<!-- <img src='/static/cake_icon.png'> -->
				<a href='#/project4'><img src='/static/speech-bubble.png'></a>
			</div>
			<div class='project col-md-4' id='project5'>
				<a href='#/project5'><img src='/static/light-bulb.png'></a>
			</div>
			<div class='project col-md-4' id='project6'>
				<!-- <img src='/static/speech-bubble.png'> -->
				<a href='#/project6'><img src='/static/cake_icon.png' id='cake_icon'></a>
			</div>
		</div>
	</div>
	<div class='jumbotron' id='about'>
		<h2>ABOUT</h2>
		<hr class='star-primary'>
	</div>
	<div id='contact'>
		<h2 class='col-md-12 text-center'>CONTACT ME</h2>
		<hr class="star-primary">
	</div>
</div>