<div ng-controller='project2Controller' class='project_page'>
	<!-- <h1>HUNGRY BELLY</h1> -->
	<!-- <hr class='star-primary'> -->
	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class='project_description center-block'>
		<h4>Hungry Belly was designed, built and deployed with 2 other developers after completing the Ruby on Rails stack. It grants users the ability to choose guests to invite to dinner; a map is then shown displaying 5 restaurants to meet that or centrally located according to the addresses of everyone invited. Once the user selects a restaurant, the user can send a text inviting all attendees, including the date, time, and location of the dinner date.</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>Ruby on Rails, PostgreSQL, Yelp API, Geoloction API, Google Maps API, Twilio API, Bootstrap, HTML5, CSS3</h4>
		<ul>
			<li><a href='http://www.github.com/mml1/hungrybelly' target='_blank'>github.com/mml1/hungrybelly</a></li>
			<li><a href='http://54.186.90.201:81/' target='_blank'>Deployed Site</a></li>
		</ul>
	</div>
	<h3><a href='#/'>Back</a></h3>
</div>