<div ng-controller='project1Controller' class='project_page'>
	<!-- <h1>Shoe Test</h1> -->
		<!-- <hr class='star-primary'> -->
		<h3>Pictures Coming Soon</h3>
<!-- 	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='interval'>
			<uib-slide ng-repeat='slide in slides'>
				<img ng-source='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div> -->
	<div class='project_description center-block'>
		<h4>Shoe Swap</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>Ruby on Rails, PostgreSQL, Bootstrap, HTML5, CSS3</h4>
		<ul>
			<li><a href='https://https://github.com/cookiesncream716/loan-borrow.git' target='_blank'>github.com/cookiesncream716/loan-borrow.git</li>
		</ul>
	</div>

</div>