<div ng-controller='project5Controller' class='project_page'>
	<!-- <h1>PairCoding</h1> -->
	<!-- <hr class='star-primary'> -->
	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class='project_description center-block'>
		<h4>PairCoding was designed and created by a team of 2 devolopers and then deployed in just 2 days. This website allows users to find fellow programmers in the immediate area working with a particular language; users are then able to connect and code together.</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>Ruby on Rails, PostgreSQL, Geoloction API, Bootstrap, HTML5, CSS3, AWS</h4>
		<ul>
			<li><a href='https://github.com/amritakc/paircode' target='_blank'>github.com/amritakc/paircode</a></li>
			<!-- <li><a href='http://54.186.90.201/' target='_blank'>Deployed Site</a></li> -->
		</ul>
	</div>
</div>