<div ng-controller='project4Controller' class='project_page'>
	<!-- <h1>Discussion Board</h1> -->
	<!-- <hr class='star-primary'> -->
	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class='project_description center-block'>
		<h4>Discussion Board</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>JavaScript, node.js, Mongo, mongoose.db,Bootstrap, HTML5, CSS3</h4>
		<ul>
			<li><a href='https://github.com/cookiesncream716/discussion_board' target='_blank'>github.com/cookiesncream716/discussion_board</a></li>
			<!-- <li><a href='http://54.186.90.201:81/' target='_blank'>Deployed Site</a></li> -->
		</ul>
	</div>

</div>