<div ng-controller='project4Controller' class='project_page'>
	<!-- <h1>Discussion Board</h1> -->
	<!-- <hr class='star-primary'> -->
	<h3>Pictures Coming Soon</h3>
<!-- 	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
 -->	<div class='project_description center-block'>
		<h4>Discussion Board was an assignment I completed while learning the full MEAN stack. It is a simple discussion forum app that allows a user to post a topic or question based on pre-defined categories. Users may then post their answers to other user questions and also comment on the answers. In additon, they can vote answers up or down. A profile page displays how many topics, answers, and comments each user has posted.</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>JavaScript, node.js, Mongo, mongoose.db,Bootstrap, HTML5, CSS3</h4>
		<ul>
			<li><a href='https://github.com/cookiesncream716/discussion_board' target='_blank'>github.com/cookiesncream716/discussion_board</a></li>
			<!-- <li><a href='http://54.186.90.201:81/' target='_blank'>Deployed Site</a></li> -->
		</ul>
	</div>

</div>