<div ng-controller='project6Controller' class='project_page'>
	<!-- <h1>My Recipe Box</h1> -->
	<!-- <hr class='star-primary'> -->
	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class='project_description center-block'>
		<h4>My Recipe Box is a solely built app where users can store in one place all the recipes they have found and want to rembember from recipe websites. They can rate the recipe and add their own personal notes in case they made any adjustments to the recipe.</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>Node, Express, Angular, MongoDB, Mongoose, JavaScript, Angular UI Bootstrap, HTML5, CSS3, AWS</h4>
		<ul>
			<li><a href='https://github.com/cookiesncream716/my_recipes' target='_blank'>github.com/cookiesncream716/my_recipes</a></li>
			<!-- <li><a href='http://54.187.195.251:81/' target='_blank'>Deployed Site</a></li> -->
		</ul>
	</div>
	<h3><a href='#/'>Back</a></h3>
</div>