<div ng-controller='project3Controller' class='project_page'>
	<!-- <h1>Make It Happen</h1> -->
	<!-- <hr class='star-primary'> -->
	<div class='picture_carousel center-block'>
		<uib-carousel active='active' interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in slides track by slide.id' index='slide.id'>
				<img ng-src='{{slide.image}}'>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class='project_description center-block'>
		<h4>Make It Happen was created by a team of 4 developers in just 5 days. It allows users to create and store individual bucket lists of goals to accomplish. Users can choose from a preset list or add new items to the list. Users can view pictures and see relevant live tweets to get inspired to complete an item.</h4>
		<h4>TECHNOLOGIES</h4>
		<h4>Python, MySQL, Tweepy API, Instagram API, Ajax, Jquery, Bootstrap, HTML5, CSS3</h4>
				<ul>
			<li><a href='https://github.com/cookiesncream716/make_it_happen' target='_blank'>github.com/cookiesncream716/Make-_It_Happen</a></li>
		</ul>
	</div>
	<h3><a href='#/'>Back</a></h3>
</div>